<% if signed_in? %>

      <div class = "hero-unit">
        <h2>Welcome Back</h2>
         <p class = "center">Choose an app below or go to your <a class="btn btn-xs btn-default" href="/users/show">Profile</a></p>
        <p></p>
        <div class="container marketing">

          <!-- Three columns of text below the carousel -->
          <div class="row">
            <div class="span4">
              <%=link_to image_tag("classroom.png"), '/courses' %>
              <h2>Courses</h2>
            </div><!-- /.span4 -->
            <div class="span4">
              <%=link_to image_tag("calendar.png"), '/calendar'  %>
              <h2>Calendar</h2>
            </div><!-- /.span4 -->
            <div class="span4">
              <%=link_to image_tag("schedule.jpg", class: "img-circle"), '/events'  %>
              <h2>Schedule</h2>
            </div><!-- /.span4 -->
          </div><!-- /.row -->
      </div>

    </div>


<% else %>

    <!-- Carousel
   ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img>
          <%= link_to image_tag("slide-01.jpg"), root_path %>
          </img>
          <div class="center container">
            <div class="carousel-caption">
              <h1 style=color:white>What is myCUplanner?</h1>
              <p class="lead" style=color:#D0D0D0  >myCUplanner is a scheduling app aimed at computer science students attending the University of Colorado at Boulder. Interested? <a href="/signup">Sign up today!</a> Already have an account? <a href="/signin">Sign in.</a></p>
              <p></p>

            </div>
          </div>
        </div>

        <div class="item">
          <img>
          <%= link_to image_tag("slide-02.jpg"), root_path %>
          </img>
          <div class="center container">
            <div class="carousel-caption">
              <h1 style=color:white>More Info?</h1>
              <p class="lead" style=color:#D0D0D0>This project was made for the software methods and tools course (CSCI 3308), focused on web development. If you want to get to know more about this app, click the about button below, or visit the <a href="https://github.com/joshfermin/myCUplanner">github page</a></p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="span4">
        <%=image_tag("calendar.png")  %>
        <h2>Calendar</h2>
        <p>A calendar to help you schedule classes and plan around your classes.</p>
      </div><!-- /.span4 -->
      <div class="span4">
        <%=image_tag("classroom.png")%>
        <h2>Courses</h2>
        <p>A huge selection of courses for you to choose from. </p>
      </div><!-- /.span4 -->
      <div class="span4">
        <%=image_tag("schedule.jpg", class: "img-circle") %>
        <h2>Schedule</h2>
        <p>A schedule view of the calendar, add events or delete events from here.</p>
      </div><!-- /.span4 -->
    </div><!-- /.row -->

    </div><!-- /.container -->


<% end %>






