<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
            <%= form_for(@user) do |f| %>

                <%= render 'shared/error_messages' %>

                <%= f.label :name %>
                <%= f.text_field :name %>

                <%= f.label :email %>
                <%= f.text_field :email %>

                <%= f.label :password %>
                <%= f.password_field :password %>

                <%= f.label :password_confirmation, "Confirm Password" %>
                <%= f.password_field :password_confirmation %>
            </div>
             <div class="span10">
                <div class="hero-unit">
                  <%= check_box_tag(:courses_taken) %>
                  <%= label_tag(:courses_taken, "CSCI 1300") %>
                  <%= check_box_tag(:courses_taken) %>
                  <%= label_tag(:courses_taken, "CSCI 2270") %>



                <%= f.submit "Create my account", class: "btn btn-medium btn-default" %>
                </div>
             </div>
             <% end %>
    </div>
</div>
