<% if signed_in? %>
    <% provide(:title, @user.name) %>

        <div class="center hero-unit">
        <section>
          <h2>
            <%= @user.name %>
          </h2>

          <p>Email: <%= @user.email %></p>
          <p></p>
        </section>
        </div>

    <div class = "container marketing">
    <h3><%=@user.name%>'s Courses Taken</h3>
        <table class = "table table-striped">
          <thead>
          <tr>
            <th>Subject Area</th>
            <th>Course Number</th>
            <th>Course Title</th>
          </tr>
          </thead>

          <tbody>

          <% @courses_taken.each do |course| %>
              <tr>
                <td><%= course.subject_area %></td>
                <td><%= course.course_number %></td>
                <td><%= course.course_title %></td>
                <!--<td><#%= link_to 'Edit', edit_course_path(course) %></td>-->
                <!--<td><#%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
              </tr>
          <% end %>
          </tbody>
        </table>
    <br>
    </div>

    <div class="hero-unit">
    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
      <div class="span4">
        <%=link_to image_tag("classroom.png"), '/courses' %>
        <h2>Courses</h2>
      </div><!-- /.span4 -->
        <div class="span4">
          <%=link_to image_tag("calendar.png"), '/calendar'  %>
          <h2>Calendar</h2>
        </div><!-- /.span4 -->
        <div class="span4">
          <%=link_to image_tag("schedule.jpg", class: "img-circle"), '/events'  %>
          <h2>Schedule</h2>
        </div><!-- /.span4 -->
      </div><!-- /.row -->
    </div>
    </div>
<% end %>