<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag('myCUplannerLogo.png', size:"150x250"), root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">

          <% if signed_in? %>
              <li><%= link_to "Profile", controller: "users", action: "show", id: current_user.id %></li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Planner <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Calendar", '/calendar' %></li>
                  <li><%= link_to "Schedule", '/events' %></li>
                </ul>
              </li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Courses <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Upcoming Courses", '/courses' %></li>
                  <li><%= link_to "Edit Courses Taken", '/select_courses_taken' %></li>
                </ul>
              </li>
          <% end %>
          <% if signed_in? %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Schedule", '/events' %></li>
                  <li><%= link_to "Courses", "/courses" %></li>
                  <li><%= link_to "About", root_path %></li>
                  <li><%= link_to "Edit Classes", '#' %></li>

                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out", signout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
          <% else %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Login <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Sign In", signin_path %></li>
                  <li><%= link_to "Sign Up", signup_path %></li>
                  <li class="divider"></li>
                </ul>
              </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>